---
import Base from "@/layouts/Base.astro";
import HeadSEO from "@/components/HeadSEO.astro";
import PostCard from "@/components/PostCard.astro";
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts', ({ data }) => !data.draft)).sort((a, b) => (a.data.date < b.data.date ? 1 : -1));
---
<Base title="Blog" description="All posts">
  <HeadSEO title="Blog" description="All posts" canonical="/blog/" />
  <h1>Blog</h1>
  <div class="grid" style="margin-top:1rem;">
    {posts.map((p) => (
      <PostCard href={`/blog/${p.slug}/`} title={p.data.title} description={p.data.description} date={p.data.date} tags={p.data.tags} />
    ))}
  </div>
</Base>


